<div class="hero-unit">
<h1>Welcome to Bootstrap with Sinatra!</h1>
<p>Login to get the party started</p>
<input id="username" placeholder="username" type="text"/>
<input id="password" placeholder="password" type="password"/>
<br/>
<a class="btn btn-primary btn-large">Login</a></p>

